<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
    <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<div style="text-align:center">
   <nav class="navbar navbar-default">
      <div class="navbar-header">
          <h3>Task Manager</h3>
        </div>
  </nav>
  <div class="container">
  <ul class="nav nav-tabs">
    <li><a href="/addtask" class="active">Add Task</a></li>
    <li><a href="/viewtask">View Task</a></li>
    
  </ul>
  <br>
</div>
  <router-outlet></router-outlet>
</div>
</html>

